@font-face{
  font-family: Norwester;
  src: url(norwester.woff);
}
@font-face{
  font-family: OpenSans;
  src: url(opensans.woff);
}
@font-face{
  font-family: VT323;
  src: url(VT323.woff);
}
body{
  margin: 0;
  position: absolute;
}
h1{
  margin: 2px;
  font-size: 14vw;
  font-family: Norwester;
}
p{
  margin: 2px;
  font-size: 3.8vw;
}
dl{
  margin: 0;
}
.texto_justificado{
  text-align: justify;
}
.texto_secundário{
  font-family: OpenSans;
  letter-spacing: 4px;
  color: #fead09;
}
.flex{
  flex-grow: 1;
}
header{
  font-family: Norwester;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(200, 200, 200, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.endereco{
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 20px 0;
  padding: 0.7vh 1.4vh;
  font-size: 2vh;
  background-color: rgba(4, 61, 79, .8);

  border-radius: 1vh;
  z-index: 11;
  /* box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);*/
  transition: 0.5s;
}
.endereco:hover{
  transform: scale(1.1);
  color: #fead09;
  background-color: rgba(255, 255, 255, .8);
  /*box-shadow: 0 5px 20px 0 rgba(0,0,0,0.4);*/
  transition: 0.5s;
}
#logo {
  height: 140%;
  position: absolute;
  top: 2vh;
  right: 3vh;
}
.tela{
  width: 100vw;
  height: 100vh;
}
.conteudo{
  width: 80vw;
  height: 80vh;
  padding: 15vh 10vw 5vh;
}
.principal{
  width: 80%;
  height: 90%;
}
#p1{
  background-color: #065772;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulo{
  letter-spacing: 10px;
}
.subtitulo{
  font-family: OpenSans;
  letter-spacing: 7px;
  color: #fead09;
}
#p2{
  background-image: linear-gradient(to bottom, #065772, #75bfe1);
  display: flex;
  align-items: center;
  justify-content: center;
}
#p3{
  background-color: #fed45c;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foto_perfil{
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil{
  width: 25vh;
  border-radius: 50%;
  filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5);
  transition: .5s
}
.perfil:hover{
  transform: scale(1.05);
  filter: none;
  transition: .6s
}
.barra_prompt{
  width: 100%;
}
.prompt{
  padding: 30px;
  background-color: #526469;
  border: solid 8px;
  border-radius: 2.5vw;
  border-color: #01181f;
  box-shadow: 0 10px 50px 0 rgba(0,0,0,0.5);
}
.descricao{
  font-family: VT323;
  font-size: 2.5vh;
}
#p4{
  background-color: #FFFFFF;
  color: #065772;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.texto_principal_p4{
  text-align: center;
}
.social{
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rede_social{
  font-size: 5vh;
  width: 60vw;
  height: 13vh;
  margin: 2vh;
  border-radius: 8vw;
  color: #FFFFFF;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .8s;
  text-decoration:none;

}
.rede_social:hover{
  transform: scale(1.1);
}
#instagram:hover{
  background-color: #c2143d;
  transition: .8s;
}
#facebook:hover{
  background-color: #233792;
  transition: .8s;
}
#spotify:hover{
  background-color: #121212;
  color: #65bb40;
  transition: .8s;
}
#p5{
  background-color: #fead09;
  display: flex;
  align-items: center;
  justify-content: center;
}
.girl{
  height: 80%;
}
